.carousel-img1 {  
  object-fit: cover;
  object-position: 0 90%;
  height: 50vh; 
  filter: brightness(60%) grayscale(3%) blur(2px);
}
.carousel-img2 {
  object-fit: cover;
  object-position: 0 60%;
  height: 50vh; 
  filter: brightness(55%) blur(2px);
}

.font-title {
  font-family: 'Sriracha', cursive;
}

.text-special-color {
  color: darkred
}

.btn-special {
  background-color: darkred;
  color: #fff;
}

.btn-special:hover {
  background-color: #d73030;
  color: #fff;
}

.card-scale {
  width: 18rem;
}

.card-position-img {
  object-fit: cover;  
  height: 200px;
}

.border-special-color {
  border-color: darkred
}